<%- include("../partials/header") -%>
<%- include("navbar") -%>
<div class="librarian-heading">
   <h1>Librarian Details</h1> 
</div>
 <div class="librarians-details">
    <% userdetails.forEach(detail => {  %>
         <div class="librarian-details">
             <p> <%= detail.username %></p>
             <p> <%= detail.email %></p>
             <p> <%= detail.mobile %></p>
            <p><a href="/userprofile/<%= detail._id %>">View Profile</a></p> 
         </div>
   <%  })  %>
 </div>
<%- include("../partials/footer") -%>


